:root {
  --logo-size: 400px;
  --outter-size: 250px;
  --inner-size: 110px;
  --dot-size: 30px;
  --borders: 20%;
}

.logo {
  display: flex;
  height: var(--logo-size);
  width: var(--logo-size);
  background: radial-gradient(circle at bottom left, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: var(--borders);
}

.outter-box {
  display: flex;
  height: var(--outter-size);
  width: var(--outter-size);
  border: 25px solid white;
  justify-content: center;
  align-items: center;
  border-radius: var(--borders);
}

.inner-box {
  height: var(--inner-size);
  width: var(--inner-size);
  border: 25px solid white;
  border-radius: 50%;
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
  background: white;
  border-radius: 50%;
  transform: translate(135px, -45px);
}
